<h1 mat-dialog-title>Add sell offer</h1>
<div mat-dialog-content>
  <div class="example-container">

    <mat-form-field>
      <mat-select (selectionChange)="setResource()" placeholder="Resource" [(ngModel)]="resource" name="resourceId">
        <mat-option *ngFor="let resource of (data|async)" [value]="resource">{{resource.company.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input (change)="checkMaxAmount()" type="number" [(ngModel)]="sellOffer.amount" matInput placeholder="Amount" name="amount">
    </mat-form-field>

    <mat-form-field>
      <input type="number" [(ngModel)]="sellOffer.price" matInput placeholder="Price" name="price">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="warning" (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="sellOffer" cdkFocusInitial> Add sell offer</button>
</div>