
<mat-form-field>
    <mat-select (selectionChange)="onTypeTransactionChange(transactionType)" placeholder="Type" [(ngModel)]="transactionType" name="transactionType">
        <mat-option [value]="null">-</mat-option>
        <mat-option [value]="tT.SELL_OFFER">{{tT.SELL_OFFER | transactionType}}</mat-option>
        <mat-option [value]="tT.BUY_OFFER">{{tT.BUY_OFFER| transactionType}}</mat-option>
    </mat-select>
</mat-form-field>
<br>
<table mat-table [dataSource]="_transactionsFilter" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef> Company Name </th>
        <td mat-cell *matCellDef="let element"> {{element.company.name}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type | transactionType}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>