<form class="example-form" (ngSubmit)="login()">

    <div class="loginFailure" *ngIf="loginFailure">Bad credentials</div>
    
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="email" name="email" >
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password">
    </mat-form-field>
    <br>
    <button mat-flat-button color="primary"> Login </button>
</form>